@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.row {
    margin: 0 !important;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/**********/
/**********/
/**********/
/* HEADER */
#header {
    text-align: center;
    background-color: #1f5485;
    height: 100vh;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
}

.info img {
    width: 80%;
    max-width: 450px;
    margin: 30px;
}

#header h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

#header p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.header-img img {
    width: 80%;
    min-width: 275px;
    z-index: 1;
    margin-top: -30px;
}

.wave img {
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  position: relative;
  bottom: -80px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 265px;
}

/**********/
/**********/
/**********/
/*CONTENT*/
#content {
    text-align: center;
    overflow: hidden;
}

hr {
    padding-bottom: 40px;
    color: #ffffff;
    background-color: #ffffff;
    border-top: 0px solid #ffffff !important;
}

.title {
    color: #233142;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.titlesmall {
    color: #233142;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.skills p {
    padding-top: 10px;
    color: #656e7a;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 600px;
    display: inline-block;
    margin-bottom: 30px;
}

.skills-progress {
    padding: 0px 400px;
}

.skills-progress img {
  width: 75px;
  height: 75px;
  margin: 10px;
}

.project {
    padding: 20px 0;
}

.project-logo {
    position: relative;
    top: 10px;
}

.project-info {
    text-align: left;
}

.project-info p {
    color: #656e7a;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 500px;
}

.project-logo img {
    height: 100px;
}


/**********/
/**********/
/**********/
/**Footer**/
#footer {
    text-align: center;
    background-color: #1f5485;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
}

.wave-footer img {
  -moz-transform: scale(-1, -1) rotate(6deg);
  -o-transform: scale(-1, -1) rotate(6deg);
  -webkit-transform: scale(-1, -1) rotate(6deg);
  transform: scale(-1, -1) rotate(6deg);
  position: relative;
  top: -130px;
}

.wave-footer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 265px;
}

form {
    text-align: center;
    margin: 50px 0;
}

input, textarea {
    width: 600px;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    outline: none;
    border-radius: 30px;
}

textarea {
    height: 100px;
    resize: none;
    padding: 10px 30px;
}
textarea::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

::-webkit-input-placeholder {
    color: #ffffff4b;
}
::-moz-placeholder {
    color: #ffffff4b;
}
:-ms-input-placeholder {
    color: #ffffff4b;
}
:-moz-placeholder { 
    color: #ffffff4b;
}

input:focus, textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none !important;
}

input {
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
}
input:nth-of-type(2) {
    margin: 15px 0;
}

button {
    margin-top: 10px !important;
    width: 600px;
    border-radius: 30px;
    border: none;
    height: 45px;
    color: #1f5485 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-size: 17px !important;
    background-color: #ffffff;
    text-decoration: none;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

button:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.67);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.67);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.67);
}

.title-footer {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
}

#footer hr {
  padding-bottom: 50px;
  color: #1f5485;
  background-color: #1f5485;
}

#footer p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding-left: 8px;
}

#footer i {
    font-size: 18px;
}


#footer a i {
  color: #ffffff;
  font-size: 25px;
}
#footer a i:hover{
  color: #1f54ff;
}
/******************/
/******************/
/******************/
/* Mobile devices */
@media only screen and (max-width: 991px) {
    .title {
        font-size: 45px;
    }

    .title-footer {
        font-size: 45px;
    }

    .titlesmall {
        font-size: 33px;
    }
    
    .header-img img {
        display: none;
    }

    .info {
        margin-top: -70px;
    }

    #header h1 {
        font-size: 38px;
    }
    #header p {
        font-size: 16px;
    }

    .skills {
        text-align: center;
    }

    .skills p {
        margin: 0 10px;
        font-size: 17px;
        width: auto;
        margin-bottom: 30px;
    }

    .project-info {
        text-align: center;
    }
    
    .project-info p {
        padding-top: 30px;
        width: auto;
    }

    .project-logo {
        position: static;
        top: 0;
    }

    button, input, textarea {
        width: 90%;
    }

    .skills-progress {
        padding: 0px 15px !important;
    }
}

@media only screen and (max-width: 1450px) {
    .project-info p {
        margin: 0 10px !important;
    }

    .skills-progress {
        padding: 0px 200px;
    }
    
    .skills-progress img {
      width: 75px;
      height: 75px;
      margin: 20px;
    }

}

@media only screen and (max-width: 1245px) {
    .project-info p {
        margin: 0 10px !important;
    }
}